*{
    margin: 0;
    padding: 0;
    direction: rtl;
}
body{
    font-size: 1em;
    font-family: 'Amiri', serif;
}
.container{
    width: 90%;
    margin: auto;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(header.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
}
.nav-bar{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
#logo{
    width: 10%;
    color: white;
    font-size: 2em;
}
.header-text{
    color: #fff;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h3{
    text-align-last: center;
    margin: 5% auto 1% ;
    padding-bottom: 2%;
    font-size: 1.5em;
    font-weight: 400;
}
h3:after{
    content: "";
    display: table;
    height: 2px;
    width: 80px;
    background-color: #502b00;
    margin: 10px auto 0;
}
h4{
    margin: 2% 0;
    text-align: center;
}

.coffee-type {
    width: 50%;
    margin: 5% auto;
    text-align: center
        
}

.coffee-type img{
    width: 100%;
    box-shadow: 2px 2px 0.9px 0.9px #898989;
    
}

.love-coffee{
    background: linear-gradient(rgba(214, 115, 0, 0.46), rgba(214, 115, 0, 0.15)),url(ilovecoffee.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    padding: 15% 0;
}
.about-coffee{
}
.about-coffee p{
    width: 50%;
    margin: auto;
    
}


.footer{
    margin-top: 8%;
    padding: 1% 0;
    background-color: #331b00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}
.footer img{
    width: 15px;
    height: 15px;
    margin-left: 0.5%;
}
