 *{
    margin: 0;
    padding: 0;
}
body{
    direction: rtl;
    font-family: 'Amiri', serif;

}
.container{
    margin: auto;
    width: 1200px;
}
/* strting of header*/
.header{
    height: 100vh;
    background-image: url(bus1.jpg);
    background-size: cover;
}
nav{
	height: 18%;
    background-color: rgba(0,0,0,0.3);
}


.logo{
    width: 20%;
    line-height: 100px;
    float: right;
}
.logo h1{
    color: #e85727 ;
    font-size: 40px;
    font-weight: 700i;
}

.list{
    width: 75%;
    float: left;
    color: #fff;
}
.list ul{
    margin-right: 600px;
}

.list ul li{
    display: inline-block;
    margin-right: 40px;
    line-height: 100px;
    font-weight: 400i; 
}

.info{
    text-align: center;
    margin-top: 170px;
    color: #e85727
}
.info h1{
    font-size: 50px;
    font-weight: 700
}
.info p{
    color: #fff;
    background-color: #111;
    width: 50%;
    margin: auto;
}
.section{
    margin-top: 50px;
    text-align: center;
}
/* ending of header*/

/* starting of skills*/

.section .maintext{
    font-size: 40px;
    font-weight: 400;
    border-bottom: 5px solid #e85727;
    width: 140px;
    margin: auto;
    padding-top: 25px
}
.skill{
    margin-top: 50px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
    float: right;
    margin-bottom: 20px
}
.skill img{
    width: 100px;
}
.skill progress{
    width: 100px;
}
.skill span{
    font-weight: bold
}
.clear{
    content: "";
    display: table;
    clear: both
}
/* starting of my project*/
.myproject{
    background-color: #dce1ea
}
.myproject p{
    padding: 25px  0 25px 0;
    font-weight: 400;
    font-size: 18px
}

/* starting of footer*/
.footer{
    background-color: #434444;
    padding-top: 25px;
    padding-bottom: 25px;
}



.footer .contact{
    text-align: center;
    direction: ltr
}

.phone{
    color: #fff;
}

.footer span{
    color: #fff;
}

.twitter{
    color:  #00aced
}








